html, body, header, main, ul {
    padding: 0;
    border: 0;
    margin: 0;
}

main {
    /* formatting */
    border: 2px solid darkblue;
    margin: 0 auto;
    padding: 25px;
}

li {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

a {
    display: block;
    padding: 1em;
}

ul {
    list-style: none;
    background-color: deepskyblue;
}

a {
    text-decoration: none;
    padding: 20px 20px;
    color: white;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

a[href="#top"] {
    background-color: darkblue;
}

a:hover {
    background: royalblue;
}

li:last-child {
    border-bottom: none;
}
