html, body,div{
  margin:0;
  border:0;
  margin:0;
}

body{
  height:100vh;
  display:flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items:center;
}


div{
  height:10rem;
  width:10rem;
  background-color:black;
  box-shadow:14px 14px 10px red;
}
